@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: white;
  }
}

body {
  @apply font-sans text-text-base bg-background-base;
}

@layer base {
}

@layer components {
  .menu-button {
    @apply cursor-pointer transition-colors hover:bg-primary-hover fixed bottom-5 right-5 bg-primary w-20 h-20 rounded-full flex items-center justify-center z-50 gap-2 flex-col;
    span {
      @apply block w-8 h-0.5 bg-background-base;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .blur {
    backdrop-filter: blur(4px);
  }
  .full {
    inset: 0;
    position: fixed;
  }
}
